{% extends 'login/base.html' %}
{% block title %}Log In{% endblock %}
{% block title1 %}Log In{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login:login' %}" class="px-8 py-10">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username }}
    {{ form.password }}
    <div class="mb-5">
        <input type="submit" value="Log In" class="w-full h-12 bg-gradient-to-r from-secondary to-primary text-white text-lg font-medium rounded-full cursor-pointer transition transform hover:scale-95">
    </div>
    <div class="text-center text-gray-700">
       Not a member? <a href="{% url 'login:signup' %}" class="text-primary hover:underline">Signup now</a>
    </div>
</form>
<div class="mb-5 text-center text-gray-700 bold-text">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
